@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My CSS goes here */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
}

/* HEADER - start */

.header {
  font-size: 5em;
}

.header-text {
  font-size: 2em;
}

.header-container {
  width: 100vw;
  position: relative;
}

.header-image {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: aliceblue;
  background-color: rgba(170, 153, 4, 0.8);

  font-size: small;
}

.image-credit a {
  color: aliceblue;
}

.header-banner {
  background: rgba(170, 153, 4, 0.8);
  color: white;

  width: 100%;
  text-align: center;

  position: absolute;
  top: 100px;
}

/* HEADER end */
